/* Estilo del indicador de notificaciones no leídas */
.notificacion-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #ff4757;
  color: #000000;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Asegurar que las letras sean visibles */
.notificaciones-container li span {
  font-size: 14px;
  color: #333; /* Color visible */
}

.notificaciones-container li span.leido {
  color: #6c757d; /* Color más claro para las leídas */
  text-decoration: line-through;
}


/* Estilo del indicador de notificaciones no leídas */
.notificacion-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #ff4757;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Asegurar que las letras sean visibles */
  .notificaciones-container li span {
    font-size: 14px;
    color: #333; /* Color visible */
  }
  
  .notificaciones-container li span.leido {
    color: #6c757d; /* Color más claro para las leídas */
    text-decoration: line-through;
  }
  