<p-toast></p-toast>

<div class="add-asegurado-form">
  <h3>Añadir Asegurado</h3>
  
  <div class="form-field">
    <label for="tipoSangre">Tipo de Sangre</label>
    <input id="tipoSangre" pInputText [(ngModel)]="nuevoAsegurado.tipoSangre" placeholder="Ingrese el tipo de sangre" class="input-field" />
  </div>

  <div class="form-field">
    <label for="sexo">Sexo</label>
    <input id="sexo" pInputText [(ngModel)]="nuevoAsegurado.sexo" placeholder="Ingrese el sexo" maxlength="1" class="input-field" />
  </div>

  <div class="form-field">
    <label for="fechaNacimiento">Fecha de Nacimiento</label>
    <p-calendar [(ngModel)]="nuevoAsegurado.fechaNacimiento" dateFormat="yy-mm-dd" class="input-calendar"></p-calendar>
  </div>

  <div class="form-field">
    <label for="usuario">Usuario</label>
    <p-dropdown
      id="usuario"
      [options]="usuariosDisponibles"
      optionLabel="correo"
      optionValue="id"
      [(ngModel)]="nuevoAsegurado.usuario!.id"
      placeholder="Seleccione un usuario"
      class="input-dropdown"
    ></p-dropdown>
  </div>

  <div class="form-field button-container">
    <button
      pButton
      label="Añadir Asegurado"
      (click)="addAsegurado()"
      class="p-button-success"
    ></button>
  </div>
</div>



<div class="asegurado-list-container" style="margin-top: 2rem;">
  <p-table
    [value]="asegurados"
    dataKey="id"
    editMode="row"
    [tableStyle]="{ 'min-width': '50rem', 'max-width': '100%' }"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 10%">ID</th>
        <th style="width: 15%">Tipo de Sangre</th>
        <th style="width: 10%">Sexo</th>
        <th style="width: 20%">Fecha de Nacimiento</th>
        <th style="width: 30%">Nombre Completo</th>
        <th style="width: 5%">Id Historia</th>
        <th style="width: 10%">Acción</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-asegurado let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="asegurado">
        <td>{{ asegurado.id }}</td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="output">{{ asegurado.tipoSangre }}</ng-template>
            <ng-template pTemplate="input">
              <input pInputText [(ngModel)]="asegurado.tipoSangre" class="input-field" />
            </ng-template>
          </p-cellEditor>
        </td>
        <td>{{ asegurado.sexo }}</td>
        <td>{{ asegurado.fechaNacimiento }}</td>
        <td>{{ asegurado.usuario?.nombre }} {{ asegurado.usuario?.apellido }}</td>
        <td>{{ asegurado.historiaClinica.id }}</td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit(asegurado)"
              class="p-button-rounded"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(asegurado)"
              class="p-button-rounded p-button-success"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel(asegurado, ri)"
              class="p-button-rounded p-button-danger"
            ></button>
            <button
              *ngIf="!editing"
              pButton
              icon="pi pi-trash"
              (click)="deleteAsegurado(asegurado.id)"
              class="p-button-rounded p-button-danger"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
