.usuario-list-container {
    max-width: 100%;
    margin: auto;
    overflow-x: auto;
}

.form-container.add-usuario-form {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.form-container h3 {
    grid-column: 1 / -1;
    margin-bottom: 0.5rem;
    text-align: center;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.input-field {
    width: 100%;
    max-width: 90px;
}

.input-dropdown {
    width: 100%;
}

