.tratamiento-container {
    max-width: 100%;
    margin: auto;
    padding: 1.5rem;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .tratamiento-container h3 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #3f51b5;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .p-table {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .p-table thead th {
    background-color: #3f51b5;
    color: #ffffff;
    padding: 12px;
    text-align: center;
    font-weight: bold;
  }
  
  .p-table tbody tr {
    transition: background-color 0.3s;
  }
  
  .p-table tbody tr:nth-child(even) {
    background-color: #f7f7f7;
  }
  
  .p-table tbody tr:hover {
    background-color: #e0f7fa;
  }
  
  .p-table td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }
  