<div class="column-selector-container">
    <button
      pButton
      type="button"
      label="Seleccionar Columnas"
      icon="pi pi-cog"
      (click)="mostrarSeleccionColumnas = !mostrarSeleccionColumnas"
    ></button>
  </div>
  
  <div *ngIf="mostrarSeleccionColumnas" class="column-selector">
    <h4>Selecciona las columnas a exportar:</h4>
    <div *ngFor="let columna of columnasDisponibles">
      <input
        type="checkbox"
        [checked]="columna.seleccionada"
        (change)="toggleSeleccionColumna(columna)"
      />
      <label>{{ columna.titulo }}</label>
    </div>
    <button
      pButton
      type="button"
      label="Exportar Seleccionadas"
      icon="pi pi-file-pdf"
      (click)="exportarHistoriaClinica()"
    ></button>
  </div>
  
<div class="historia-clinica-container">
  <h3>Historia Clínica de Usuario</h3>
  <button pButton type="button" label="Exportar PDF" icon="pi pi-file-pdf" (click)="exportarHistoriaClinica()"></button>
    <p-table [value]="consultas" dataKey="id" [tableStyle]="{ 'min-width': '50rem', 'max-width': '100%' }">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 15%;">ID Consulta</th>
                <th style="width: 20%;">Fecha Consulta</th>
                <th style="width: 25%;">Motivo Consulta</th>
                <th style="width: 20%;">Diagnóstico</th>
                <th style="width: 20%;">Nota</th>
                <th style="width: 10%;">Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-consulta>
            <tr>
                <td>{{ consulta.id }}</td>
                <td>{{ consulta.fechaConsulta }}</td>
                <td>{{ consulta.motivoConsulta }}</td>
                <td>{{ consulta.diagnostico }}</td>
                <td>{{ consulta.nota }}</td>
                <td>
                    <!-- Botón de acción para redirigir a tratamiento -->
                    <button
                        pButton
                        type="button"
                        icon="pi pi-arrow-right"
                        class="p-button-rounded p-button-text p-button-info"
                        (click)="irATratamiento(consulta.id)"
                    ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>