<p-toast></p-toast>

<div class="form-container">
  <h3>Buscar Especialidad por ID</h3>
  
  <div class="form-field">
    <label for="especialidadId">ID de la Especialidad</label>
    <input
      id="especialidadId"
      type="number"
      pInputText
      [(ngModel)]="especialidadId"
      placeholder="Ingrese el ID de la especialidad"
      min="0"
    />
  </div>

  <div class="form-field center-content">
    <p-button
      icon="pi pi-search"
      label="Buscar"
      (click)="buscarEspecialidad()"
      styleClass="p-button-raised p-button-info button-custom"
    ></p-button>
  </div>

  <div *ngIf="especialidad" class="specialty-info">
    <h3>Información de la Especialidad</h3>
    <div class="form-field">
      <label>ID:</label>
      <span>{{ especialidad.id }}</span>
    </div>
    <div class="form-field">
      <label>Nombre:</label>
      <span>{{ especialidad.nombre }}</span>
    </div>

    <div class="form-field">
      <label>Asignar Médico</label>
      <p-dropdown
        [options]="medicosNoAsignados"
        optionLabel="item"
        optionValue="id"
        [(ngModel)]="selectedMedicoId"
        placeholder="Seleccione un médico"
        class="input-dropdown"
      ></p-dropdown>
    </div>
    <div class="form-field center-content">
      <p-button
        icon="pi pi-plus"
        label="Asignar"
        (click)="assignMedico()"
        styleClass="p-button-raised p-button-success button-custom"
      ></p-button>
    </div>
  </div>
</div>

<p-table *ngIf="medicoEspecialidades.length > 0" [value]="medicoEspecialidades" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}" [sortField]="sortField" [sortOrder]="sortOrder">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="medico.id">ID Médico</th>
      <th>Nombre Médico</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-medicoEspecialidad>
    <tr>
      <td>{{ medicoEspecialidad.medico.id }}</td>
      <td>{{ medicoEspecialidad.medico.usuario.nombre }} {{ medicoEspecialidad.medico.usuario.apellido }}</td>
      <td>
        <button 
          pButton 
          pRipple 
          type="button" 
          icon="pi pi-trash" 
          class="p-button-rounded p-button-danger"
          (click)="deleteMedicoEspecialidad(medicoEspecialidad.id!)">
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
