
<div class="consulta-container">
  <div class="form">
    <h3>Detalles de la Consulta</h3>

    <div class="form-field">
      <label for="motivo" class="label">Motivo</label>
      <textarea id="motivo" [(ngModel)]="motivo" name="motivo" class="textarea"></textarea>
    </div>

    <div class="form-field">
      <label for="diagnostico" class="label">Diagnóstico</label>
      <textarea id="diagnostico" [(ngModel)]="diagnostico" name="diagnostico" class="textarea"></textarea>
    </div>

    <div class="form-field">
      <label for="nota" class="label">Nota</label>
      <textarea id="nota" [(ngModel)]="nota" name="nota" class="textarea"></textarea>
    </div>

    <!-- Mostrar las recetas agregadas -->
    <div *ngFor="let receta of recetas; let i = index" class="form receta-form">
      <h3>Receta {{ i + 1 }}</h3>

      <div class="form-field">
        <label for="medicamento{{ i }}" class="label">Medicamento</label>
        <input id="medicamento{{ i }}" [(ngModel)]="receta.medicamento" name="medicamento{{ i }}" class="textarea" />
      </div>

      <div class="form-field">
        <label for="frecuencia{{ i }}" class="label">Frecuencia</label>
        <input id="frecuencia{{ i }}" [(ngModel)]="receta.frecuencia" name="frecuencia{{ i }}" class="textarea" />
      </div>

      <div class="form-field">
        <label for="fechaInicio{{ i }}" class="label">Fecha de Inicio</label>
        <input type="date" id="fechaInicio{{ i }}" [(ngModel)]="receta.fechaInicio" name="fechaInicio{{ i }}" class="textarea" />
      </div>

      <div class="form-field">
        <label for="fechaFinal{{ i }}" class="label">Fecha Final</label>
        <input type="date" id="fechaFinal{{ i }}" [(ngModel)]="receta.fechaFinal" name="fechaFinal{{ i }}" class="textarea" />
      </div>
    </div>

    <div class="form-field">
      <h3>Archivos Adjuntos</h3>
    
      <!-- Rellenar la lista de archivos -->
      <ul>
        <li *ngFor="let archivo of archivosAdjuntos; let i = index">
          {{ archivo.name }} ({{ archivo.size / 1024 | number: '1.0-2' }} KB)
          <button type="button" class="delete-button" (click)="eliminarArchivo(i)">Eliminar</button>
        </li>
      </ul>
    
      <!-- Botón para seleccionar archivos -->
      <input type="file" multiple (change)="seleccionarArchivos($event)" />
    </div>
    

    <!-- Botones de acción en la parte inferior -->
    <div class="button-container">
      <button type="button" class="button" (click)="agregarReceta()">Agregar Receta</button>
      <button type="button" class="button" (click)="guardarConsulta()">Guardar Consulta</button>
    </div>
  </div>
</div>
<div *ngIf="cargando" class="loading-overlay">
  <p>Guardando, por favor espere...</p>
</div>
